Repository govbarnesy/decision-tapestry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: enhance agent framework with peer review, GitHub integration, and automatic relationship analysis
  __tests__/agents/agent-Agent-80.test.ts
  __tests__/agents/agent-Agent-81.test.ts
  __tests__/agents/agent-Agent-82.test.ts
  __tests__/agents/agent-Agent-83.test.ts
  __tests__/agents/agent-Agent-84.test.ts
  __tests__/agents/agent-Agent-85.test.ts
  __tests__/agents/agent-Reviewer-83.test.ts
  __tests__/agents/agent-Reviewer-84.test.ts
  __tests__/agents/agent-Reviewer-85.test.ts
  cli/agent-commands.mjs
  cli/agent-coordinator.mjs
  cli/agent-framework.mjs
  cli/agent-messaging.mjs
  cli/cli.mjs
  dashboard/app.mjs
  dashboard/decision-detail-panel.mjs
  dashboard/style.css
  decisions.schema.json
  decisions.yml
  server/github-webhook-handler.mjs
  server/server.mjs
  services/decision-enhancer.mjs
  services/git-analyzer.mjs
  services/github-service.mjs
  styles/github-enhanced.css
Due: eslint --fix, prettier --write

style: standardize typography across dashboard components
  dashboard/decision-detail-panel.mjs
  dashboard/decision-log.mjs
  dashboard/style.css
  styles/github-enhanced.css
Due: eslint --fix

feat: add Gemini CLI, DOM editor extension, and unified context system
  __tests__/agents/agent-Agent-86.test.ts
  __tests__/agents/agent-Agent-87.test.ts
  __tests__/agents/agent-Reviewer-86.test.ts
  dashboard/gemini-prompt.mjs
  dashboard/search-panel.mjs
  decisions.yml
  dom-editor-extension/background.js
  dom-editor-extension/content-script.js
  dom-editor-extension/manifest.json
  gemini-integration/gemini-wrapper.mjs
  server/gemini-api.mjs
  server/server.mjs
Due: eslint --fix, prettier --write

feat: add Google OAuth login for Gemini integration
  dashboard/gemini-prompt.mjs
  dashboard/index.html
  server/gemini-api.mjs
  server/server.mjs
Due: eslint --fix

feat: enhance DOM editor with element selection, change tracking, and batch editing
  claude-code-integration/dom-editor-integration.mjs
  dashboard/hot-update-client.mjs
  dashboard/index.html
  dashboard/simple-analytics.mjs
  dashboard/smart-analytics.mjs
  dashboard/test-smart-analytics.html
  demo-dom-context.mjs
  demo-smart-analytics.mjs
  dom-editor-extension/.eslintrc.js
  dom-editor-extension/background.js
  dom-editor-extension/content-script.js
  dom-editor-extension/devtools.html
  dom-editor-extension/devtools.js
  dom-editor-extension/manifest.json
  dom-editor-extension/panel.html
  dom-editor-extension/panel.js
  dom-editor-extension/popup/index.html
  dom-editor-extension/popup/popup.js
  dom-editor-extension/popup/styles.css
  dom-editor-watcher.mjs
  hot-dom-update.mjs
  package-lock.json
  package.json
  server/gemini-api.mjs
  server/server.mjs
  test-dom-editor.mjs
  yarn.lock
Due: eslint --fix, prettier --write

chore: update decision 87 tasks to reflect completed DOM editor functionality
  decisions.yml
Due: prettier --write

chore: update decisions 62 and 67 to reflect completed GitHub integration
  decisions.yml
Due: prettier --write

chore: update decision 71 to reflect partial completion of time filtering features
  decisions.yml
Due: prettier --write

chore: update decision 73 to completed - GitHub services fully implemented
  decisions.yml
Due: prettier --write

feat: enhance agent coordination UI for better visibility
  dashboard/app.mjs
  dashboard/decision-map.mjs
  dashboard/index.html
  dom-editor-extension/content-script.js
Due: eslint --fix

feat: implement resilient agent coordination infrastructure
  cli/agent-health-monitor.mjs
  cli/agent-messaging-resilient.mjs
  cli/circuit-breaker.mjs
  dashboard/decision-map.mjs
Due: eslint --fix

feat: integrate resilient components into agent framework
  __tests__/resilient-agent.test.mjs
  cli/agent-framework-resilient.mjs
  dashboard/advanced-filter.mjs
  examples/resilient-agent-example.mjs
Due: eslint --fix

docs: add comprehensive resilient agent documentation
  docs/resilient-agent-architecture.md
  docs/resilient-agent-quickstart.md
Due: prettier --write

docs: add resilient agents implementation summary
  RESILIENT-AGENTS.md
Due: prettier --write

chore: add decision 89 for resilient agent coordination system
  decisions.yml
Due: prettier --write

refactor: clean up agent system technical debt
  AGENT-TECH-DEBT-AUDIT.md
  __tests__/agent-compatibility.test.mjs
  cli/agent-coordinator-resilient.mjs
  cli/agent-framework.mjs
  cli/demo-agent.mjs
  dashboard/advanced-filter.mjs
  dashboard/agent-activity-feed.mjs
  dashboard/app.mjs
Due: eslint --fix, prettier --write

docs: add comprehensive agent system review summary
  AGENT-REVIEW-SUMMARY.md
Due: prettier --write

feat: implement production-ready agent lifecycle management with comprehensive testing
  AGENT-SETUP-GUIDE.md
  AGENT-TECH-DEBT-AUDIT.md
  MIGRATION-GUIDE-RESILIENT-AGENTS.md
  __tests__/agents/agent-Agent-88.test.ts
  __tests__/agents/agent-Agent-90.test.ts
  __tests__/agents/agent-TestAgent-1.test.ts
  __tests__/agents/agent-TestAgent-1752691061004.test.ts
  __tests__/agents/agent-TestAgent-1752691098774.test.ts
  __tests__/agents/agent-TestAgent-Low.test.ts
  cli/agent-coordinator-resilient.mjs
  cli/agent-framework-resilient.mjs
  cli/agent-messaging-resilient.mjs
  cli/context-aggregator.mjs
  cli/context-quality-monitor.mjs
  dashboard/decision-map.mjs
  decisions.yml
  examples/run-resilient-agent.mjs
  test-agent-full-lifecycle.mjs
  test-context-system.mjs
  test-resilient-agent.mjs
Due: eslint --fix, prettier --write

refactor: simplify AI Canvas interface for better usability
  dashboard/ai-canvas.mjs
  decisions.yml
Due: eslint --fix, prettier --write

feat: add AI Canvas visual communication system
  CLAUDE.md
  claude-code-integration/ai-canvas-helper.mjs
  claude-code-integration/ai-visual-coordinator.mjs
  claude-code-integration/claude-code-hook.mjs
  claude-code-integration/visual-templates.mjs
  dashboard/app.mjs
  dashboard/index.html
  dashboard/style.css
  demo-canvas.mjs
  server/server.mjs
  test-ai-canvas.mjs
  test-visual-enhancement.mjs
Due: eslint --fix, prettier --write

feat: implement quick-task decision creation for rapid agent execution
  README.md
  __tests__/quick-task.test.mjs
  cli/cli.mjs
  cli/quick-decision-builder.mjs
  dashboard/app.mjs
  dashboard/decision-detail-panel.mjs
  decisions.yml
Due: eslint --fix, prettier --write

feat: add architecture graph diagnostics and helpful empty state
  cli/cli.mjs
  dashboard/architecture-map.mjs
  troubleshooting/architecture-graph-diagnostic.mjs
Due: eslint --fix

docs: update decisions.yml with recent feature implementations
  decisions.yml
Due: prettier --write

feat: implement GitHub-native backend for Decision Tapestry
  .github/ISSUE_TEMPLATE/decision.yml
  cli/migrate-to-github.mjs
  dashboard/github-dashboard-adapter.mjs
  docs/github-native-workflow.md
  github-app-manifest.json
  services/github-decisions-api.mjs
  services/github-project-queries.mjs
Due: eslint --fix, prettier --write

fix: code quality improvements for GitHub-native backend
  cli/migrate-to-github.mjs
  dashboard/github-dashboard-adapter.mjs
  services/github-decisions-api.mjs
  services/github-project-queries.mjs
  services/github-service.mjs
Due: eslint --fix

chore: prepare v1.8.0 release
  README.md
  RELEASE_NOTES_v1.8.0.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts}
  prettier --write: any of: *.{json,md,yml,yaml}
